<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xuanrui.demomybatis.mapper.UserMapper">

  <resultMap id="UserResultMap" type="com.xuanrui.demomybatis.model.User">
    <id property="id" column="id" />
    <result property="name" column="name"  />
    <result property="password" column="password" />
    <result property="organizationid" column="organizationid" />
    <result property="nickname" column="nickname" />
    <result property="phone" column="phone" />
    <result property="city" column="city" />
    <result property="createtime" column="createtime" />
    <result property="createaccount" column="createaccount" />
    <result property="updatetime" column="updatetime" />
    <result property="updateaccount" column="updateaccount" />
    <result property="available" column="available" />
  </resultMap>

  <insert id="insertUser" parameterType="java.lang.Integer">
    insert into user(name,password,organizationid,nickname,phone,city,createtime,createaccount,updatetime,updateaccount,available)
                  values(#{user.name},#{user.password},#{user.organizationid},#{user.nickname},#{user.phone},#{user.city},#{user.createtime},#{user.createaccount},#{user.updatetime},#{user.updateaccount},#{user.available})
  </insert>


  <delete id="deleteUser" parameterType="java.lang.Integer">
    delete from user where user.id = #{id}
  </delete>


  <select id="findUserById" parameterType="java.lang.Integer">
    select * from user where user.id=#{id}
  </select>

  <select id="findAllUser" resultType="package com.xuanrui.demomybatis.model">
    select * from user
  </select>

  <!-- 更改用户信息-->
  <update id="updateUser" parameterType="package com.xuanrui.demomybatis.model">
    UPDATE user set name = #{name},password = #{password},organizationid = #{organizationid},nickname = #{nickname},phone = #{phone},
            city = #{city},createtime = #{createtime},createaccount = #{createaccount},updatetime = #{updatetime},updateaccount = #{updateaccount},
            available = #{available} WHERE id = #{id}
  </update>
</mapper>